doctype html
html
  head
    meta(charset='UTF-8')
    title= title
    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
    <!-- build:css /css/jade.css -->
    link(rel='stylesheet', href='/public/dev/css/vendor/bar.css')
    link(rel='stylesheet', href='/public/dev/css/foo.css')
    <!-- endbuild -->

  body
    unless noHeader
      include header
    .container
      block content
    <!-- build:js /js/jade.js -->
    script(src='/public/dev/js/vendor/bar.js')
    script(src="/public/dev/js/foo.js")
    <!-- endbuild -->
