doctype html
html
  head
    meta(charset='UTF-8')
    title= title
    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
    <!-- build:css(public/dev) /css/jade.css -->
    link(rel='stylesheet', href='/css/vendor/bar.css')
    link(rel='stylesheet', href='/css/foo.css')
    <!-- endbuild -->

  body
    unless noHeader
      include header
    .container
      block content
    <!-- build:js(public/dev) /js/jade.js -->
    script(src='/js/vendor/bar.js')
    script(src="/js/foo.js")
    <!-- endbuild -->
